<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moment 1</title>
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
    <header>


        <div class="menu"><p id="headertext">Moment 1 Backend</p>
            <nav>
                <ul>
                    <li><a href="index">Your courses</a></li>
                    <li><a  class="current" href="about">About</a></li>
                    <li><a href="addcourses">Add courses</a></li>

                </ul>
            </nav>
        </div>
    </header>
    <main>
        <article>
            <h1>Backend-development, mid sweden university</h1>
            <h2>Rosali Johansson</h2>
            <p id="about">This website was created as a part of the course Backend-development at Mid Sweden University. The purpose is to create a list of your university courses, store them in a database and also being able to delete each course and add new ones. On this website I have used the database-server "sqlite3", with the help of the npm-packages ejs, express, nodemon and bodyparser. My reflection of the assigment is that it was alot of syntax to learn but I think it's something you will learn and remember over time and it's fascinating once you make it work.</p>
        </article>
    </main>
    <!--footer-->
    <footer>
        <p>Laborationsuppgift för kursen Backend-baserad utveckling
        </p>
        <p>Mittuniversitetet</p>
        <p>Copyright © 2025 Rosali Johansson</p>
    </footer>
</body>
</html>